In [1]:
import pandas as pd
gene = pd.read_csv("/Users/TracyTao/Desktop/Singapore/NUS/PHM5005/ML/PHM5005/gene.csv")
gene.head()

,ID_REF,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,...,206927_s_at,206928_at,206929_s_at,206930_at,206931_at,206932_at,206933_s_at,206934_at,206935_at,206936_x_at
0,GSM1682614,492.5000,988.500,1677.0000,2856.200,197.50000,3948.200,749.4000,216.50000,1561.100,...,136.00000,3003.800,489.8000,379.60000,945.8000,102.70000,95.00000,1124.5000,91.40000,2573.400
1,GSM1682615,992.2914,1671.248,312.9964,1514.233,68.79980,6455.948,585.3797,33.89514,1053.610,...,190.01090,4108.014,1030.2210,109.02470,767.2295,11.72884,173.57690,169.2777,5.28214,1985.431
2,GSM1682616,639.9207,2475.515,369.9277,2167.405,93.66864,10215.440,682.4297,50.10245,6135.089,...,330.32360,5128.173,1402.8630,195.03890,331.0485,101.89820,207.26920,245.7526,46.15807,3002.954
3,GSM1682617,1586.2420,1669.516,395.1871,1687.894,137.29080,4501.796,403.4219,18.10369,19350.590,...,367.85490,5427.443,807.0797,73.01001,926.1743,230.80090,119.15180,195.9008,13.60067,2641.230
4,GSM1682618,673.6545,2246.731,857.8096,1973.064,83.86870,5533.674,530.7810,32.94907,12308.010,...,18.18558,2551.292,1081.4950,219.95090,371.7992,177.03040,21.19365,1220.5080,192.27200,1311.488

In [10]:
gene.head()
gene.shape

(183, 16384)

In [4]:
chort = pd.read_csv("/Users/TracyTao/Desktop/Singapore/NUS/PHM5005/ML/PHM5005/Chort.csv")
chort.head()

       ID_REF  AGE SUBTYPES GENDER
0  GSM1682614   56       M1      M
1  GSM1682615   43       M1      F
2  GSM1682616   45       M2      F
3  GSM1682617   70       M1      F
4  GSM1682618   62       M5      M

In [9]:
df = pd.merge(gene, chort, on='ID_REF', how='outer')
df.shape

(183, 16387)

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['GENDER'] = label_encoder.fit_transform(df['GENDER'])
df.head()

,ID_REF,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,...,206930_at,206931_at,206932_at,206933_s_at,206934_at,206935_at,206936_x_at,AGE,SUBTYPES,GENDER
0,GSM1682614,492.5000,988.500,1677.0000,2856.200,197.50000,3948.200,749.4000,216.50000,1561.100,...,379.60000,945.8000,102.70000,95.00000,1124.5000,91.40000,2573.400,56,M1,1
1,GSM1682615,992.2914,1671.248,312.9964,1514.233,68.79980,6455.948,585.3797,33.89514,1053.610,...,109.02470,767.2295,11.72884,173.57690,169.2777,5.28214,1985.431,43,M1,0
2,GSM1682616,639.9207,2475.515,369.9277,2167.405,93.66864,10215.440,682.4297,50.10245,6135.089,...,195.03890,331.0485,101.89820,207.26920,245.7526,46.15807,3002.954,45,M2,0
3,GSM1682617,1586.2420,1669.516,395.1871,1687.894,137.29080,4501.796,403.4219,18.10369,19350.590,...,73.01001,926.1743,230.80090,119.15180,195.9008,13.60067,2641.230,70,M1,0
4,GSM1682618,673.6545,2246.731,857.8096,1973.064,83.86870,5533.674,530.7810,32.94907,12308.010,...,219.95090,371.7992,177.03040,21.19365,1220.5080,192.27200,1311.488,62,M5,1

In [15]:
df['SUBTYPES'] = label_encoder.fit_transform(df['SUBTYPES'])
df.head()

,ID_REF,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,...,206930_at,206931_at,206932_at,206933_s_at,206934_at,206935_at,206936_x_at,AGE,SUBTYPES,GENDER
0,GSM1682614,492.5000,988.500,1677.0000,2856.200,197.50000,3948.200,749.4000,216.50000,1561.100,...,379.60000,945.8000,102.70000,95.00000,1124.5000,91.40000,2573.400,56,2,1
1,GSM1682615,992.2914,1671.248,312.9964,1514.233,68.79980,6455.948,585.3797,33.89514,1053.610,...,109.02470,767.2295,11.72884,173.57690,169.2777,5.28214,1985.431,43,2,0
2,GSM1682616,639.9207,2475.515,369.9277,2167.405,93.66864,10215.440,682.4297,50.10245,6135.089,...,195.03890,331.0485,101.89820,207.26920,245.7526,46.15807,3002.954,45,3,0
3,GSM1682617,1586.2420,1669.516,395.1871,1687.894,137.29080,4501.796,403.4219,18.10369,19350.590,...,73.01001,926.1743,230.80090,119.15180,195.9008,13.60067,2641.230,70,2,0
4,GSM1682618,673.6545,2246.731,857.8096,1973.064,83.86870,5533.674,530.7810,32.94907,12308.010,...,219.95090,371.7992,177.03040,21.19365,1220.5080,192.27200,1311.488,62,6,1

In [16]:
df.to_csv("/Users/TracyTao/Desktop/Singapore/NUS/PHM5005/ML/PHM5005/AML.csv", index=True)